<section id='new_promise'>
  <style>
    #new_promise label.radio.inline { margin-right: 0.5em; }
  </style>
  <div class="container">
    <div class='page-header'>
      <h1>투표하겠소</h1>
    </div>
    <%= render 'form' %>
  </div>
</section>