<section id='votes'>
  <div class='container'>
    <div class='page-header'>
      <h1>나는 투표했소!</h1>
    </div>

    <%= render 'encourage_box' %>

    <div class='tabbable'>
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#tab1"><i class='icon-user'></i> <%= Vote.all.count %>명의 투표 인증</a>
        </li>
        <li class='disabled'><a href="#tab2"><i class='icon-map-marker'></i>지도로 보기 (작업중)</a></li>
      </ul><!-- nav -->
      <div class='tab-content'>
        <div class='tab-pane active' id='tab1'>
          <ul class="masonry_container thumbnails">
            <%= render @votes %>
          </ul>
        </div>
      </div><!-- tab-content -->
    </div><!-- tabbable -->
  </div>
</section>