<section id='events'>
  <div class='container'>
    <div class='page-header'>
      <h1>다른 이벤트들
        <small><%= link_to '추가하기', new_event_path if user_signed_in? %></small>
      </h1>
    </div>
    <div class='alert alert-success'>
      2012년 대통령선거와 관련된 재미난 이벤트들을 모았습니다! 즐길꺼리들이 많네요! :)
    </div>
    <div class='row masonry_container'>
      <%= render @events %>
    </div>
  </div>
</section>