<section>
  <div class='container'>
    <div class='page-header'>
      <h1>5월 9일 투표 인증을 요청하는 배너로 바뀝니다!</h2>
    </div>
    <div class='alert alert-success'>
        아래 코드를 관리하시는 블로그나 사이트의 제일 하단에 붙여주세요. ( &lt;/body&gt;태그 바로  )
        <%= link_to '미리보기 >', 'http://co-up.com', target: '_blank', class: 'btn' %>
    </div>
    <h3>코드</h3>
    <pre>
&lt;script type="text/javascript" src="//www.hellobar.com/hellobar.js"&gt;&lt;/script&gt;
&lt;script type="text/javascript"&gt;
    new HelloBar(59447,86136);
&lt;/script&gt;
    </pre>
    <h3>배너를 붙이고 아래에 URL을 남겨주세요! 감사합니다! ^^</h3>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'voteaward'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
</section>
