<section>
  <div class='container'>
    <div class='page-header'>
      <h1>함께하겠소</h2>
    </div>
    <div class='alert alert-success'>
        2012 투표대잔치 서비스는 몇몇 사람이 자발적으로 시작한 서비스입니다.
        <br>모든 준비 과정과 소스는 공개해 두었으며, 지금도 누구나 함께 만들 수 있습니다.
        <br>댓글을 남겨주시거나 페이스북 그룹 혹은 구글 그룹스에 오셔서 함께 이야기 나눠요!
        <br>아직 남아 있는 재미난 일들이 많습니다! :)
    </div>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'voteaward'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
</section>