
<section id='about'>
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>2012년 투표대잔치</h1>
        <p>5년에 한번뿐인 선거라고 하나, 너무나도 무료하지 않소? 뭔가 재미난 꺼리를 만들까 하오. 함께 하시겠소?</p>
      </div>
    </div>
  </div>
</section>

<section id='will'>
  <div class="container">
    <div class="row">
      <div class="span12">
        <h2>투표하겠소</h2>
        <p>투표 약속을 하시오. 약속만 해도 경품을 나눠 주겠소. 물론 누구나 경품을 걸어도 좋소.</p>
      </div>
    </div>
  </div>
</section>

<section id='info'>
  <div class="container">
    <div class="row">
      <div class="span12">
        <h2>모르겠소</h2>
        <p>왜 투표하는지. 어떻게 투표해야 하는지. 누구에게 투표해야 하는지. 모르겠소? 그렇다면 아래를 참고하시오.</p>
      </div>
    </div>
  </div>
</section>

<section id='done'>
  <div class="container">
    <div class="row">
      <div class="span12">
        <h2>투표하셨소</h2>
        <p>장하시오. 인증하고 경품을 타가시오.</p>
      </div>
    </div>
  </div>
</section>

<section id='must'>
  <div class="container">
    <div class="row">
      <div class="span12">
        <h2>투표강제인증소</h2>
        <p>12월 19일만큼은 투표한 이들에게만 서비스를 제공해 보는 것은 어떻소? 우리가 도와주겠소.</p>
      </div>
    </div>
  </div>
</section>

<section id='join'>
  <div class="container">
    <div class="row">
      <div class="span12">
        <h2>함께하겠소</h2>
        <p>여전히 무료하시오? 직접 나서지 않곤 이 무료함을 못 견디겠소? 그럼 보여주시오.</p>
      </div>
    </div>
  </div>
</section>