
<section id='about'>
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class='page-header'>
          <h1>2012년 투표대잔치</h1>
        </div>
        <p>5년에 한번뿐인 선거라고 하나, 너무나도 무료하지 않소? 뭔가 재미난 꺼리를 만들까 하오. 함께 하시겠소?</p>
      </div>
    </div>
  </div>
</section>