<section id='about'>
  <div class='jumbotron masthead'>
    <div class="container">
      <h1>2012년 투표대잔치</h1>
      <p>5년에 한번 뿐인 선거이지만 우리는 지켜보고 투표소에서 한표를 행사할 뿐입니다. 그것말고 더 재미난게 있지 않을까요?</p>
    </div>
  </div>
</section>