<section id='giveups'>
  <div class='container'>
    <div class='page-header'>
      <h1>투표안하겠소
        <small>총 <%= Giveup.all.count %>분이 투표하지 않겠다는 결심을 하셨습니다.</small>
      </h1>
    </div>
    <div class='well'>
      <p>투표 거부도 중요한 의사표현의 하나입니다.
        <br>하지만 아직까지 그 의사표현을 의미있게 모아보려는 시도는 없었습니다.
        <br>투표대잔치에서 여러분의 의사표현을 하나로 모아드리겠습니다.
        <br>왜 투표를 하지 않으려는지 그 이유를 들려주세요.
      </p>
      <hr>
      <% if user_signed_in? %>
        <%= render 'form' %>
      <% else %>
        <%= link_to '페이스북으로 시작하기', user_omniauth_authorize_path(:facebook), class: 'btn btn-primary' %>
      <% end %>
    </div>
    <div>
      <%= render @giveups %>
    </div>
  </div>
</section>