<section id='promises'>
  <div class='container'>
    <div class='page-header'>
      <h1>투표하겠소
        <small>총 <%= Promise.all.count %>명이 투표 약속을 하셨습니다.</small>
      </h1>
    </div>

    <%= render 'encourage_box' %>

    <div class='tabbable'>
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#tab1"><%= Promise.all.count %>명의 투표 약속</a>
        </li>
        <li class='disabled'><a href="#tab2"><i class='icon-wrench'></i>당첨되었어요! (작업중)</a></li>
      </ul>
      <div class='tab-content'>
        <div class='row masonry_container tab-pane active' id='tab1'>
          <%= render @promises %>
        </div>
        <div class='row tab-pane active' id='tab2'>

        </div>
      </div>
    </div>
  </div>
</section>